fastapi==0.115.0
uvicorn==0.32.0
pydantic==2.8.2
pytest==8.3.2
pytest-cov==4.1.0
pytest-asyncio==0.23.3
pymongo
google-cloud-storage==2.17.0
python-dotenv==1.0.1
google-auth==2.34.0
google-auth-oauthlib==1.2.1
httpx==0.27.0
setuptools>=68.0.0
wheel>=0.41.0
python-multipart
dotenv
torch==2.1.2
torchvision==0.16.2
Pillow>=10.0.0
tqdm>=4.66.0
numpy>=1.26.0
transformers==4.37.2
tokenizers==0.15.1
sentencepiece==0.1.99
shortuuid>=1.0.11
accelerate==0.21.0
peft==0.7.0
scikit-learn==1.2.2
gradio==4.16.0
gradio_client==0.8.1
einops==0.6.1
einops-exts==0.0.4
timm==0.6.13
